.Rproj.user
.Rhistory
.RData
.Ruserdata

*.docx

data/final_model_500feat_100trees.rds
data/uploads
data/*.sf
data/ARCHS_subset

www/*
!www/kinase_inhibitor_summary_sample.nb.html
!www/extra.js
!www/sample_quant.sf
!www/favicon*
